@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: 0;
}
.card {
    width: 340px;
    border: 2px solid lightgray; 
    border-radius: 10px; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}
.card:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 0 7px lightgray;
}
.yellow-line {
    margin: 0 0 0 0;
    width: 100%;
    height: 30px;
    border-radius: 8px 8px 0 0;
    background-color: #FFDC40;
}
.heading {
    cursor: default;
    font-weight: 900;
    font-size: 26px;
    margin: 13px 0 0 0;
    padding: 0;
}
.sort {
    padding: 0;
    align-self: flex-end;
    margin: 15px 45px 0 0;
    background-color: transparent;
    border: 0;
    transition: transform 80ms ease-in-out;
}
.sort img {
    -webkit-filter: brightness(100%);
    cursor: pointer;
}
.sort img:hover {
    -webkit-filter: brightness(0%);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sort:active {
    transform: scale(1.1);
}
.line {
    display: flex;
    align-items: center;
}
.input-area {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 10px 0 0 0;
    padding: 0;
    border-radius: 10px;
    outline: 1px solid lightgray;
    max-height: 161px;
    min-height: 30px;
    overflow: auto;
}
/* testing the fixed position
.input-area div:last-child {
    backdrop-filter: blur(4px);
    position: sticky;
    bottom: 0;
} */
.input-area div:last-child input {
    background-color: transparent;
    outline: white;
}
input {
    border: 0;
    width: 195px;
    height: 30px;
    outline: 0;
    margin: 0 0 0 15px;
    padding: 0;
    border-radius: 10px;
    font-size: 14px;
    font-family: Roboto;
}
.delete {
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 30px 30px 30px 30px;
}
.delete img {
    cursor: pointer;
}
.add-button {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: 0;
    background-color: #833AE0;
    cursor: pointer;
    box-shadow: 0 0 0 gray;
    -webkit-filter: brightness(100%);
    transition: box-shadow 300ms ease-in-out, transform 80ms ease-in-out;
}
.add-button:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    box-shadow: 0 0 8px gray;
}
.add-button:active {
    transform: scale(1.04);
}
.plus {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 40px;
    border-radius: 20px;
    background-color: #9953F1;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.add-text {
    padding: 0;
    margin: 0;
    width: 100px;
    color: white;
    text-align: center;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #fafafafa; 
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #BBB;
}
::-webkit-scrollbar-button {
    opacity: 0%;
    height: 3px;
}